In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb

from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

/Users/pawel/.pyenv/versions/3.9.7/envs/bhl/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [3]:
df_train = pd.read_csv('../data/train_processed.csv')

In [4]:
df_train

,Unnamed: 0,BBLE,BORO,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,NTA,New Georeferenced Column,BLDAREA,LTAREA
0,4352,3002651104,3,265,1104,NaN,"KNITTEL, PHIL",R4,2,-1.569152,...,40.692171,-73.991172,302.0,33.0,9.0,3397831.0,Brooklyn Heights-Cobble Hill,POINT (-73.991172 40.692171),-1.494039,-1.554443
1,3053,2027170004,2,2717,4,NaN,"ZORRILLA, MARICELY",C0,1,0.316342,...,40.824607,-73.894848,202.0,17.0,12701.0,2099838.0,Hunts Point,POINT (-73.894848 40.824607),0.256868,0.402892
2,8856,5023900603,5,2390,603,NaN,"DIMASO, ANTHONY",A5,1,0.121248,...,40.583636,-74.151088,502.0,50.0,27704.0,5039040.0,Todt Hill-Emerson Hill-Heartland Village-Light...,POINT (-74.151088 40.583636),0.121372,0.279092
3,976,1000151323,1,15,1323,NaN,"WHITE, JOSEPH E",R4,2,-1.569152,...,40.706358,-74.016151,101.0,1.0,13.0,1087243.0,Battery Park City-Lower Manhattan,POINT (-74.016151 40.706358),1.680334,-1.554443
4,5809,3008400059,3,840,59,NaN,"XIN DI CINDY CHEN, TR",B9,1,0.056686,...,40.640613,-74.013429,307.0,38.0,102.0,3015418.0,Sunset Park East,POINT (-74.013429 40.640613),0.329078,0.237775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8356,11284,5014951053,5,1495,1053,NaN,WEINGARTEN GERTRUDE,R3,1A,0.210045,...,40.619038,-74.153888,501.0,49.0,30301.0,5170865.0,Mariner's Harbor-Arlington-Port Ivory-Granitev...,POINT (-74.153888 40.619038),0.261711,-0.005967
8357,5191,3008260034,3,826,34,NaN,"YUEN, BILLY",B9,1,0.056686,...,40.639257,-74.006687,307.0,38.0,106.0,3014813.0,Sunset Park East,POINT (-74.006687 40.639257),0.361548,0.237775
8358,5390,3008711106,3,871,1106,NaN,"MIDLER, SAMARA",R1,2C,0.264732,...,40.658670,-73.981846,307.0,38.0,169.0,3016663.0,Windsor Terrace,POINT (-73.981846 40.65867),-1.494039,0.370282
8359,860,1000162507,1,16,2507,NaN,"MILES, JOHN P.",R4,2,1.620131,...,40.710118,-74.016574,101.0,1.0,31704.0,1000436.0,Battery Park City-Lower Manhattan,POINT (-74.016574 40.710118),-1.494039,1.328319
8360,7270,4082864083,4,8286,4083,NaN,"WONG, CHI KIT",R3,1A,-0.826863,...,40.753052,-73.737053,411.0,23.0,152901.0,4452374.0,Douglas Manor-Douglaston-Little Neck,POINT (-73.737053 40.753052),-1.494039,-1.554443